<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairychar.uaa.mapper.BaseResultMapper">
  
  <resultMap type="com.fairychar.uaa.entity.Authority" id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="authoritycol" column="authoritycol"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, name, authoritycol
  </sql>
  
  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.authority
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="name != null and name != ''">
        and `name` like concat('%',#{name},'%')
      </if>
      <if test="authoritycol != null and authoritycol != ''">
        and `authoritycol` like concat('%',#{authoritycol},'%')
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="pageAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.authority
    <where>
      1=1
      <if test="authority.id != null">
        and `id` = #{authority.id}
      </if>
      <if test="authority.name != null and authority.name != ''">
        and `name` like concat('%',#{authority.name},'%')
      </if>
      <if test="authority.authoritycol != null and authority.authoritycol != ''">
        and `authoritycol` like concat('%',#{authority.authoritycol},'%')
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询总数-->
  <select id="count" resultType="int">
    select count(*)
    from fairychar-uaa.authority
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="name != null and name != ''">
        and `name` like concat('%',#{name},'%')
      </if>
      <if test="authoritycol != null and authoritycol != ''">
        and `authoritycol` like concat('%',#{authoritycol},'%')
      </if>
    </where>
  </select>
</mapper>