<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairychar.uaa.mapper.BaseResultMapper">
  
  <resultMap type="com.fairychar.uaa.entity.OrganizationCustomer" id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="customerId" column="customer_id"/>
    <result property="organizationId" column="organization_id"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, customer_id, organization_id
  </sql>
  
  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.organization_customer
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="customerId != null">
        and `customer_id` = #{customerId}
      </if>
      <if test="organizationId != null">
        and `organization_id` = #{organizationId}
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="pageAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.organization_customer
    <where>
      1=1
      <if test="organizationCustomer.id != null">
        and `id` = #{organizationCustomer.id}
      </if>
      <if test="organizationCustomer.customerId != null">
        and `customer_id` = #{organizationCustomer.customerId}
      </if>
      <if test="organizationCustomer.organizationId != null">
        and `organization_id` = #{organizationCustomer.organizationId}
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询总数-->
  <select id="count" resultType="int">
    select count(*)
    from fairychar-uaa.organization_customer
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="customerId != null">
        and `customer_id` = #{customerId}
      </if>
      <if test="organizationId != null">
        and `organization_id` = #{organizationId}
      </if>
    </where>
  </select>
</mapper>