<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairychar.security.core.rbac.mapper.SysDictMapper">
  
  <resultMap type="com.fairychar.security.core.rbac.entity.SysDict" id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="uid" column="uid"/>
    <result property="label" column="label"/>
    <result property="lableValue" column="lable_value"/>
    <result property="description" column="description"/>
    <result property="dictSort" column="dict_sort"/>
    <result property="createBy" column="create_by"/>
    <result property="createName" column="create_name"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateName" column="update_name"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <!--非数据表字段,仅用作分组查询count快捷使用-->
    <result property="groupByCount" column="count"/>
  </resultMap>
  
  
  <sql id="Prefix_Column_List">
    sys_dict
    .
    id
    as sys_dict_id, sys_dict.uid as sys_dict_uid, sys_dict.label as sys_dict_label, sys_dict.lable_value as sys_dict_lable_value, sys_dict.description as sys_dict_description, sys_dict.dict_sort as sys_dict_dict_sort, sys_dict.create_by as sys_dict_create_by, sys_dict.create_name as sys_dict_create_name, sys_dict.update_by as sys_dict_update_by, sys_dict.update_name as sys_dict_update_name, sys_dict.create_time as sys_dict_create_time, sys_dict.update_time as sys_dict_update_time
  </sql>
  
  <sql id="Base_Column_List">
    sys_dict
    .
    id
    ,sys_dict.uid ,sys_dict.label ,sys_dict.lable_value ,sys_dict.description ,sys_dict.dict_sort ,sys_dict.create_by ,sys_dict.create_name ,sys_dict.update_by ,sys_dict.update_name ,sys_dict.create_time ,sys_dict.update_time
  </sql>
  
  <!--通过实体作为筛选条件查询-->
  <select id="queryOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from sys_dict
    <include refid="query_one_where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询指定column-->
  <select id="queryOneSelective" resultMap="BaseResultMap">
    select
    <foreach collection="fields" item="field" separator=",">
      ${field}
    </foreach>
    from sys_dict
    <include refid="query_one_where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from sys_dict
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询指定column-->
  <select id="queryAllSelective" resultMap="BaseResultMap">
    select
    <foreach collection="fields" item="field" separator=",">
      ${field}
    </foreach>
    from sys_dict
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="pageAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from sys_dict
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询指定column-->
  <select id="pageAllSelective" resultMap="BaseResultMap">
    select
    <foreach collection="fields" item="field" separator=",">
      ${field}
    </foreach>
    from sys_dict
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询总数-->
  <select id="count" resultType="int">
    select count(*)
    from sys_dict
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件分组查询总数-->
  <select id="countGroupBy" resultMap="BaseResultMap">
    select ${fields}, count(*) as count
    from sys_dict
    group by ${fields}
  </select>
  
  <insert id="insertBatch">
    INSERT INTO sys_dict (<include refid="Base_Column_List"></include>) VALUES
    <foreach collection="list" item="item" separator=",">
      (
      #{item.id},
      #{item.uid},
      #{item.label},
      #{item.lableValue},
      #{item.description},
      #{item.dictSort},
      #{item.createBy},
      #{item.createName},
      #{item.updateBy},
      #{item.updateName},
      #{item.createTime},
      #{item.updateTime}
      )
    </foreach>
  </insert>
  <!--where sql-->
  <sql id="where_sql">
    <where>
      <include refid="conditional_sql"></include>
    </where>
  </sql>
  
  <!--where sql-->
  <sql id="query_one_where_sql">
    <where>
      <include refid="query_one_conditional_sql"></include>
    </where>
  </sql>
  
  <!--筛选条件-->
  <sql id="conditional_sql">
    <if test="e.id != null">
      and `id` = #{e.id}
    </if>
    <if test="e.uid != null">
      and `uid` = #{e.uid}
    </if>
    <if test="e.label != null and e.label != ''">
      and INSTR(`label`,#{e.label})
    </if>
    <if test="e.lableValue != null and e.lableValue != ''">
      and INSTR(`lable_value`,#{e.lableValue})
    </if>
    <if test="e.description != null and e.description != ''">
      and INSTR(`description`,#{e.description})
    </if>
    <if test="e.dictSort != null">
      and `dict_sort` = #{e.dictSort}
    </if>
    <if test="e.createBy != null">
      and `create_by` = #{e.createBy}
    </if>
    <if test="e.createName != null and e.createName != ''">
      and INSTR(`create_name`,#{e.createName})
    </if>
    <if test="e.updateBy != null">
      and `update_by` = #{e.updateBy}
    </if>
    <if test="e.updateName != null and e.updateName != ''">
      and INSTR(`update_name`,#{e.updateName})
    </if>
    <if test="e.createTime != null">
      and `create_time` = #{e.createTime}
    </if>
    <if test="e.updateTime != null">
      and `update_time` = #{e.updateTime}
    </if>
  </sql>
  
  <!--筛选条件-->
  <sql id="query_one_conditional_sql">
    <if test="e.id != null">
      and `id` = #{e.id}
    </if>
    <if test="e.uid != null">
      and `uid` = #{e.uid}
    </if>
    <if test="e.label != null and e.label != ''">
      and `label` = #{e.label}
    </if>
    <if test="e.lableValue != null and e.lableValue != ''">
      and `lable_value` = #{e.lableValue}
    </if>
    <if test="e.description != null and e.description != ''">
      and `description` = #{e.description}
    </if>
    <if test="e.dictSort != null">
      and `dict_sort` = #{e.dictSort}
    </if>
    <if test="e.createBy != null">
      and `create_by` = #{e.createBy}
    </if>
    <if test="e.createName != null and e.createName != ''">
      and `create_name` = #{e.createName}
    </if>
    <if test="e.updateBy != null">
      and `update_by` = #{e.updateBy}
    </if>
    <if test="e.updateName != null and e.updateName != ''">
      and `update_name` = #{e.updateName}
    </if>
    <if test="e.createTime != null">
      and `create_time` = #{e.createTime}
    </if>
    <if test="e.updateTime != null">
      and `update_time` = #{e.updateTime}
    </if>
  </sql>
</mapper>
