<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairychar.security.core.rbac.mapper.SystemRoleMapper">

  <resultMap type="com.fairychar.security.core.rbac.entity.SystemRole" id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="roleCode" column="role_code"/>
    <result property="name" column="name"/>
    <result property="level" column="level"/>
    <result property="enable" column="enable"/>
    <result property="description" column="description"/>
    <result property="createBy" column="create_by"/>
    <result property="createName" column="create_name"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateName" column="update_name"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <!--非数据表字段,仅用作分组查询count快捷使用-->
    <result property="groupByCount" column="count"/>
  </resultMap>
  
  
  <sql id="Prefix_Column_List">
    system_role
    .
    id
    as system_role_id, system_role.role_code as system_role_role_code, system_role.name as system_role_name, system_role.level as system_role_level, system_role.enable as system_role_enable, system_role.description as system_role_description, system_role.create_by as system_role_create_by, system_role.create_name as system_role_create_name, system_role.update_by as system_role_update_by, system_role.update_name as system_role_update_name, system_role.create_time as system_role_create_time, system_role.update_time as system_role_update_time
  </sql>

  <sql id="Base_Column_List">
    system_role
    .
    id
    ,system_role.role_code ,system_role.name ,system_role.level ,system_role.enable ,system_role.description ,system_role.create_by ,system_role.create_name ,system_role.update_by ,system_role.update_name ,system_role.create_time ,system_role.update_time
  </sql>

  <!--通过实体作为筛选条件查询-->
  <select id="queryOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from system_role
    <include refid="query_one_where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询指定column-->
  <select id="queryOneSelective" resultMap="BaseResultMap">
    select
    <foreach collection="fields" item="field" separator=",">
      ${field}
    </foreach>
    from system_role
    <include refid="query_one_where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from system_role
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询指定column-->
  <select id="queryAllSelective" resultMap="BaseResultMap">
    select
    <foreach collection="fields" item="field" separator=",">
      ${field}
    </foreach>
    from system_role
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="pageAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from system_role
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件查询指定column-->
  <select id="pageAllSelective" resultMap="BaseResultMap">
    select
    <foreach collection="fields" item="field" separator=",">
      ${field}
    </foreach>
    from system_role
    <include refid="where_sql"></include>
  </select>

  <!--通过实体作为筛选条件查询总数-->
  <select id="count" resultType="int">
    select count(*)
    from system_role
    <include refid="where_sql"></include>
  </select>
  
  <!--通过实体作为筛选条件分组查询总数-->
  <select id="countGroupBy" resultMap="BaseResultMap">
    select ${fields}, count(*) as count
    from system_role
    group by ${fields}
  </select>
  
  <insert id="insertBatch">
    INSERT INTO system_role (<include refid="Base_Column_List"></include>) VALUES
    <foreach collection="list" item="item" separator=",">
      (
      #{item.id},
      #{item.roleCode},
      #{item.name},
      #{item.level},
      #{item.enable},
      #{item.description},
      #{item.createBy},
      #{item.createName},
      #{item.updateBy},
      #{item.updateName},
      #{item.createTime},
      #{item.updateTime}
      )
    </foreach>
  </insert>
  <!--where sql-->
  <sql id="where_sql">
    <where>
      <include refid="conditional_sql"></include>
    </where>
  </sql>
  
  <!--where sql-->
  <sql id="query_one_where_sql">
    <where>
      <include refid="query_one_conditional_sql"></include>
    </where>
  </sql>
  
  <!--筛选条件-->
  <sql id="conditional_sql">
    <if test="e.id != null">
      and `id` = #{e.id}
    </if>
    <if test="e.roleCode != null and e.roleCode != ''">
      and INSTR(`role_code`,#{e.roleCode})
    </if>
    <if test="e.name != null and e.name != ''">
      and INSTR(`name`,#{e.name})
    </if>
    <if test="e.level != null">
      and `level` = #{e.level}
    </if>
    <if test="e.enable != null">
      and `enable` = #{e.enable}
    </if>
    <if test="e.description != null and e.description != ''">
      and INSTR(`description`,#{e.description})
    </if>
    <if test="e.createBy != null">
      and `create_by` = #{e.createBy}
    </if>
    <if test="e.createName != null and e.createName != ''">
      and INSTR(`create_name`,#{e.createName})
    </if>
    <if test="e.updateBy != null">
      and `update_by` = #{e.updateBy}
    </if>
    <if test="e.updateName != null and e.updateName != ''">
      and INSTR(`update_name`,#{e.updateName})
    </if>
    <if test="e.createTime != null">
      and `create_time` = #{e.createTime}
    </if>
    <if test="e.updateTime != null">
      and `update_time` = #{e.updateTime}
    </if>
  </sql>
  
  <!--筛选条件-->
  <sql id="query_one_conditional_sql">
    <if test="e.id != null">
      and `id` = #{e.id}
    </if>
    <if test="e.roleCode != null and e.roleCode != ''">
      and `role_code` = #{e.roleCode}
    </if>
    <if test="e.name != null and e.name != ''">
      and `name` = #{e.name}
    </if>
    <if test="e.level != null">
      and `level` = #{e.level}
    </if>
    <if test="e.enable != null">
      and `enable` = #{e.enable}
    </if>
    <if test="e.description != null and e.description != ''">
      and `description` = #{e.description}
    </if>
    <if test="e.createBy != null">
      and `create_by` = #{e.createBy}
    </if>
    <if test="e.createName != null and e.createName != ''">
      and `create_name` = #{e.createName}
    </if>
    <if test="e.updateBy != null">
      and `update_by` = #{e.updateBy}
    </if>
    <if test="e.updateName != null and e.updateName != ''">
      and `update_name` = #{e.updateName}
    </if>
    <if test="e.createTime != null">
      and `create_time` = #{e.createTime}
    </if>
    <if test="e.updateTime != null">
      and `update_time` = #{e.updateTime}
    </if>
  </sql>
</mapper>
