<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairychar.uaa.mapper.BaseResultMapper">
  
  <resultMap type="com.fairychar.uaa.entity.Organization" id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, name
  </sql>
  
  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.organization
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="name != null and name != ''">
        and `name` like concat('%',#{name},'%')
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="pageAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.organization
    <where>
      1=1
      <if test="organization.id != null">
        and `id` = #{organization.id}
      </if>
      <if test="organization.name != null and organization.name != ''">
        and `name` like concat('%',#{organization.name},'%')
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询总数-->
  <select id="count" resultType="int">
    select count(*)
    from fairychar-uaa.organization
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="name != null and name != ''">
        and `name` like concat('%',#{name},'%')
      </if>
    </where>
  </select>
</mapper>