<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairychar.uaa.mapper.BaseResultMapper">
  
  <resultMap type="com.fairychar.uaa.entity.RoleAuthority" id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="authorityId" column="authority_id"/>
    <result property="roleId" column="role_id"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, authority_id, role_id
  </sql>
  
  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.role_authority
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="authorityId != null">
        and `authority_id` = #{authorityId}
      </if>
      <if test="roleId != null">
        and `role_id` = #{roleId}
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询-->
  <select id="pageAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fairychar-uaa.role_authority
    <where>
      1=1
      <if test="roleAuthority.id != null">
        and `id` = #{roleAuthority.id}
      </if>
      <if test="roleAuthority.authorityId != null">
        and `authority_id` = #{roleAuthority.authorityId}
      </if>
      <if test="roleAuthority.roleId != null">
        and `role_id` = #{roleAuthority.roleId}
      </if>
    </where>
  </select>
  
  <!--通过实体作为筛选条件查询总数-->
  <select id="count" resultType="int">
    select count(*)
    from fairychar-uaa.role_authority
    <where>
      1=1
      <if test="id != null">
        and `id` = #{id}
      </if>
      <if test="authorityId != null">
        and `authority_id` = #{authorityId}
      </if>
      <if test="roleId != null">
        and `role_id` = #{roleId}
      </if>
    </where>
  </select>
</mapper>